<form method="post" action="{{ path('motorbike_delete', {'id': motorbike.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ motorbike.id) }}">
    <button class="btn">Delete</button>
</form>
